.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 60px);
  background-color: #f5f5f5;
}

h1{
  color: #f44336;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}