.header-toolbar {
  background-color: var(--color-u-grey);
  /* color: #fff; */
  height: 60px;
  border-bottom: 1px solid var(--color-u-orange);
}

.header-toolbar mat-icon {
  color: var(--color-u-orange);
  margin-right: 8px;
}

.header-toolbar .spacer {
  flex: 1 1 auto;
}

/* .header-toolbar button {
  color: #fff; */
/* } */

/* .header-toolbar button[mat-raised-button] {
  background-color: #f44336;
  color: #fff;
} */
