@use '@angular/material' as mat;
@use '../src_theme-colors' as u-theme;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (primary: u-theme.$primary-palette,
          tertiary: u-theme.$tertiary-palette
        ),
    typography: (plain-family: Inter,
          brand-family: Open Sans,
          bold-weight: 900,
          medium-weight: 500,
          regular-weight: 300,
        ),
    density: 0
  ));
  @include mat.button-overrides((
    filled-container-color:var(--color-u-orange),
    filled-label-text-color:white,
    outlined-label-text-color:var(--color-u-orange),
    outlined-outline-color:var(--color-u-orange),
    outlined-ripple-color:white
    ));
  @include mat.table-overrides((
    background-color: rgb(17, 17, 17),
    header-headline-color: var(--color-u-orange),
    row-item-outline-color:var(--color-u-orange),
    header-headline-size: 1.3rem,
    header-container-height: 4rem,
    // header-headline-weight: 500
  ));
  @include mat.dialog-overrides((
    container-color: rgb(17, 17, 17),
    subhead-color: var(--color-u-orange),
    subhead-size: 2rem
  ));
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}